In [1]:
import pandas as pd
import numpy as np

## Missing value detection

### Company

In [2]:
company = pd.read_csv("../KnowledgeGraph/hidy.nodes.company.csv")
company.head()

   :ID company_name       code   :LABEL
0    0         东诚药业  002675.SZ  company
1    1         大庆华科  000985.SZ  company
2    2         恒辉安防  300952.SZ  company
3    3         康跃科技  300391.SZ  company
4    4          诚益通  300430.SZ  company

In [7]:
print("Exists NaN") if np.any(company.isna()) else print("No Nan")

No Nan

In [13]:
f"There are {len(company)} in A-share market"

'There are 3974 in A-share market'

### Compete

In [10]:
compete = pd.read_csv("../KnowledgeGraph/hidy.relationships.compete.csv")
compete.head()

   :START_ID  :END_ID    :TYPE             time
0       2082     2287  compete   2020/4/9 13:33
1       3348      272  compete  2018/10/29 7:16
2       1431      707  compete   2021/5/17 8:01
3        272      743  compete  2022/1/24 20:25
4        743      272  compete  2021/7/21 20:48

In [8]:
print("Exists NaN") if np.any(compete.isna()) else print("No Nan")

No Nan

### Cooperate

In [12]:
cooperate = pd.read_csv("../KnowledgeGraph/hidy.relationships.cooperate.csv")
cooperate.head()

   :START_ID  :END_ID      :TYPE             time
0       2197      245  cooperate  2019/9/17 12:00
1       1165      756  cooperate   2020/8/2 17:10
2       2082     2899  cooperate   2019/9/2 17:42
3       2082      262  cooperate  2019/8/30 11:25
4       2082     3897  cooperate  2019/7/18 14:39

In [30]:
len(cooperate)

3603

In [14]:
print("Exists NaN") if np.any(cooperate.isna()) else print("No Nan")

No Nan

### Dispute

In [15]:
dispute = pd.read_csv("../KnowledgeGraph/hidy.relationships.dispute.csv")
dispute.head()

   :START_ID  :END_ID    :TYPE              time
0       1605     1866  dispute  2020/12/17 16:55
1       1299     1136  dispute   2022/2/22 17:55
2       2508     3950  dispute    2022/1/19 8:11
3       1644      560  dispute  2018/12/14 16:09
4        568     3498  dispute   2021/3/18 15:49

In [29]:
len(dispute)

439

In [16]:
print("Exists NaN") if np.any(dispute.isna()) else print("No Nan")

No Nan

### Invest

In [17]:
invest = pd.read_csv("../KnowledgeGraph/hidy.relationships.invest.csv")
invest.head()

   :START_ID  :END_ID   :TYPE
0       1165     1478  invest
1        469     3116  invest
2       3566     2272  invest
3       1299     2270  invest
4       2508     2248  invest

In [28]:
len(invest)

559

In [18]:
print("Exists NaN") if np.any(invest.isna()) else print("No Nan")

No Nan

### Same_industry

In [19]:
same = pd.read_csv("../KnowledgeGraph/hidy.relationships.same_industry.csv")
same.head()

   :START_ID  :END_ID          :TYPE             time
0       2197     3775  same_industry  2021/3/18 20:56
1       1165     1571  same_industry  2020/1/10 19:58
2       2082      262  same_industry  2019/8/30 11:25
3       2082      707  same_industry  2019/4/27 19:17
4       2082     2877  same_industry    2020/9/4 9:56

In [20]:
print("Exists NaN") if np.any(same.isna()) else print("No Nan")

No Nan

In [27]:
len(same)

5596

### supply

In [21]:
supply = pd.read_csv("../KnowledgeGraph/hidy.relationships.supply.csv")
supply.head()

   :START_ID  :END_ID   :TYPE
0       1165      951  supply
1       2082      707  supply
2       2082      561  supply
3       2082      217  supply
4       2082     3626  supply

In [22]:
print("Exists NaN") if np.any(supply.isna()) else print("No Nan")

No Nan